<div class="card border-light mb-3 container mt-5">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de Clientes</h5>
    <div class="my-2">
      <button class="btn btn-primary" type="button" [routerLink]="['/customer/form']">Crear Cliente</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Fecha</th>
        <th>Editar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.nombre }}</td>
        <td>{{ customer.apellido }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.createAt }}</td>
        <td>
          <button class="btn btn-info" type="button" name="button" [routerLink]="['/customer/form',customer.id]">Editar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
