<ul class="pagination" *ngIf="paginas?.length > 0">
  <li [ngClass]="paginator.first ? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="['/customer/page', 0]">Inicio</a>
  </li>
  <li class="page-item" *ngIf="paginator.number > 0">
    <a class="page-link" [routerLink]="['/customer/page', paginator.number - 1]">&laquo;</a>
  </li>
  <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina -1 == paginator.number ? 'active' : ''">
    <span class="page-link" *ngIf="pagina - 1 == paginator.number">{{pagina}}</span>
    <a class="page-link"  *ngIf="pagina - 1 != paginator.number" [routerLink]="['/customer/page', pagina-1]">{{pagina}}</a>
  </li>
  <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
    <a class="page-link" [routerLink]="['/customer/page', paginator.number + 1]">&raquo;</a>
  </li>
  <li [ngClass]="paginator.last ? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="['/customer/page', paginator.totalPages - 1]">Última</a>
  </li>
</ul>
